    body {
        background-color: rgb(27, 27, 27);
    }
   p
    {
      color: white;
    }


    b
    {
      color:white
    }

   h1
    {
      color: rgb(248, 255, 55);
    }

   h3
    {
      color: white;
    }

    i
    {
      color:white;
    }

    a
    {
      color:yellow
    }

    li
    {
      color: white
    }
    .vrsek {
  overflow: hidden;
 background-image: linear-gradient(to bottom, rgb(28, 28, 28), rgb(0, 62, 13));
    height: 200%;
    padding-right: 0px;
}

.vrsek h1 {
  color: white;
}
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 20;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 85px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #aae9a7;
  display: block;
}

.sidenav b 
{
  color: rgb(177, 177, 106);
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}